<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<!-- TODO 5: Thymeleaf - Fragments and security. Create a header that
        * shows a login url if user is not logged in or a logout url otherwise
        * Shows the username and roles of the logged in user (only when there is one)
        * Make sure the header is seen in all the templates
-->

</body>
</html>